extends layout

block content 
  .grid-container
    .main-navigation Whiteboard
    .col-first &nbsp;
      ul#buttons
        li
          button(type='button' class='btn btn-outline-light toolButton' onclick='whiteboardButtons.enablePointerTool()' id='PointerButton')
            i.fas.fa-mouse-pointer
        li
          button(type='button' class='btn btn-outline-light toolButton' onclick='whiteboardButtons.erase()' id='ClearButton')
            i.fas.fa-eraser 
        li
          button(type='button' class='btn btn-outline-light toolButton' onclick='whiteboardButtons.enableStickyNoteTool()' id='StickyButton')
            i.fas.fa-sticky-note
    .whiteboard-container 
      canvas#whiteboard &nbsp;
      div#overlay
    .col-last &nbsp;
    .footer &copy; pilvikala 2018
  
  script(src='/javascripts/whiteboard.js')
  script(src='/javascripts/whiteboardbuttons.js')