body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grid-container{
  display:grid;
  width:100vw;
  height:100vh;
  background-color:#2196F3;
  grid-template-columns: 10em auto 10em;
  grid-template-rows: 5em auto 3em;
}

.main-navigation{
  grid-column-start: 1;
  grid-column-end: 4;
  background-color:black;
  color:white;
}
.footer{
  grid-column-start: 1;
  grid-column-end: 4;
  background-color:darkgray;
}
.col-first{
  grid-column-start:1;
  grid-column-end:2;
  background-color:purple;
}
.col-last{
  grid-column-start:3;
  grid-column-end:4;
  
  background-color:magenta;
}
.whiteboard-container{
  grid-column-start:2;
  grid-column-end:3;
  width:100%;
  height: 100%;
}

#buttons{
  list-style: none;
}

#buttons >li {
  margin-top:0.5em;
}
