#whiteboard{
    background-color:gray;
    display: block;
    position: absolute;
}

.sticky{
    min-width:150px;
    min-height: 150px;
    background-color:#FFFF88;
    border: solid 1px gray;
    position: absolute;
    resize: both;
    text-align: center;
}

#whiteboard-container {
    position: relative;
}

#overlay {
position: absolute;
}